/* variables */
:root{
    --primary: #0f72c3;
    --secondary: #3c3636;
    --sub-color: #7c7c7c;
}

/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
em{
    font-style: normal;
}

/* fonts */

/* base styles */
.container-fluid{
    padding: 0px 80px;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.button{
    color: #fff;
    background-color: var(--primary);
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
}
.button:hover{
    background-color: #2b83ca;
}
.icon{
    color: #fff;
    background-color: var(--sub-color);
    padding: 10px;
    border-radius: 100%;
    display: inline-block;
}

/* desktop styles */
.header{
    background: url(/images/main-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navigation{
    margin-top: 30px;
}
.navbar-brand{
    grid-column: 1/4;
}
.navbar-brand img{
    width: 12em;
}
.nav-links{
    grid-column: 8/13;
    align-items: center;
}
.nav-item{
    color: var(--secondary);
}
.nav-items{
    justify-content: space-between;
    align-items: center;
}
.hero{
    align-items: center;
}
.hero-text{
    grid-column: 1/4;
}
.hero-text h1{
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    font-size: 5.5em;
    line-height: 1;
    color: var(--secondary);
}
.hero-text em{
    color: var(--primary);
}
.hero-text a{
    margin: 20px 0;
    font-size: 1.5em;
}
.hero-img{
    grid-column: 4/9;
}
.hero-img{
    text-align: center;
}
.hero-img img{
    width: 55%;
}
.hero-subtext{
    grid-column: 9/13;
    text-align: right;
}
.hero-subtext h3{
    color: var(--secondary);
    font-size: 1.75em;
}
.hero-subtext em{
    color: var(--primary);
}
.hero-subtext h4{
    color: var(--secondary);
    margin: 20px 0;
    width: 90%;
    margin-left: auto;
}
.socials img{
    width: 20px;
}
